body {
    font-family: 'Lato', sans-serif;
    color: rgba(255,255,255,0.8);
}

header {
    background-color: #55188b;
    height: 100px
}

a {
    
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    padding: 15px;
}

.p{
    float: right;
}

purpleNav {
    display: flex;
    justify-content: space-around;
    justify-content: right;
}

.navigationLinks { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .navigationLinks {
        flex-direction: column;
        align-items: flex-start;
    }
    header {
        height: 350px;
        width: 250px;
    }
    .p{
        position: absolute;
    }
    #contact {
        margin-top: 50px;
    }

}